.headerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 0.5s;
	min-height: 75vh;
	background-color: transparent;
}

.headerRow {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-family: var(--ff-sans-display);
	text-transform: uppercase;
	color: var(--white);
	font-size: 6.75rem;
	width: 60vw;
	padding-top: 25vh;
}

.headerLeft {
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.headerRight {
	width: 100%;
}

.headerSpan {
	font-weight: 700;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 1.75rem;
}

.emailInput {
	display: inline-block;
	background-color: transparent;
	border: 1px solid var(--red);
	border-radius: 4px;
	color: var(--red);
	font-size: 1rem;
	font-family: var(--ff-sans-inter);
	padding: 0.75rem 1rem;
	margin-right: 1rem;
	outline: none;
	transition: border-color 0.3s, color 0.3s;
}

.emailInput:focus {
	border-color: var(--pink);
	color: var(--white);
}

.emailInput::placeholder {
	color: var(--white);
	opacity: 0.6;
}
.ctaContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.callNowBtn {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 2;
	height: 48px;
	border-radius: 4px;
	width: 210px;
	letter-spacing: 1px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	overflow: hidden;
	background-color: var(--red); /* updated */
	color: var(--white); /* added */
	box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
	transition: all 250ms linear;
	text-decoration: none;
	margin: 25px auto;
}

.callNowBtn:hover {
	background-color: var(--red-dk);
}

.phoneIcon {
	color: #fff;
	font-size: 1.5rem;
	margin-right: 0.5rem;
  }

.connectBtn {
	border: 1px solid var(--white);
	border-radius: 4px;
	color: var(--white);
	padding: 0.5rem 1rem;
	font-family: var(--ff-sans-inter);
	font-size: 1.125rem;
	font-weight: 400;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.connectBtn:hover {
	background-color: white;
	color: var(--black);
}

@media (min-width: 921px) and (max-width: 1200px) {
	.headerRow {
		min-width: 100vw;
	}
}

@media (max-width: 920px) {
	.headerContainer {
		min-height: 100vh;
		padding-top: 30vh;
		overflow: hidden;
	}
	.emailInput {
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		width: calc(100vw - 25vw);
	}
	.headerRow {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		font-size: 5rem;
		height: 100vh;
	}
	.headerLeft {
		min-width: 100vw;
		align-items: center;
		z-index: 1;
		gap: 0.125rem;
	}
	.headerRight {
		min-width: 100vw;
	}

	.ctaContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
	.connectBtn {
		padding: 0.625rem 1rem;
		margin: 0 auto;
	}
	.headerRight .image {
		display: block;
		margin-bottom: 5vh; /* Adjust this value to eliminate the gray bar */
	}
	.callNowBtn{
		display: none;
	}
}
